.container {
    padding: 20px;
    position: relative;
    margin-right: 0px;
    overflow: hidden;
    &Horizontal {
        display: flex;
        justify-content: space-between;
        > div {
            &:first-child {
                width: 35%;
                > div {
                    &:first-child {
                        height: 100px;
                    }
                }
            }
            &:last-child {
                width: 63%;
                h3 {
                    font-size: 16px;
                }
            }
        }
    }
}