@use '../../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    @media (max-width: 768px) {
        margin-right: 100px;
    }
    &Topping {
        h3 {
            color: $color-primary;
            font-size: 18px;
            border-top: 1px solid #E7E7E7;
            padding-top: 8px !important;
            padding-bottom: 3px !important;
            margin-top: 7px !important;
        }
        p {
            font-size: 14px;
        }
    }
}