@use '../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    margin-top: 60px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        margin-bottom: 20px;
        margin-top: 0px;
    }
    &Title {
        width: 100%;
        @media (max-width: 768px) {
            padding-top: 20px !important;
        }
        h3 {
            font-size: 32px;
            color: $color-secondary;
            @media (max-width: 768px) {
                font-size: 26px;
                padding-bottom: 10px !important;
                border-bottom: 1.5px solid #E7E7E7;
            }
        }
    }
    > div {
        @media (max-width: 768px) {
            width: 100% !important;
            padding: 35px 0;
            margin: 0;
            margin-bottom: 0px;
            padding-bottom: 0;
            &:nth-child(2) {
                padding-top: 15px;
            }
        }
    }
    &Skeleton {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}