@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');

@font-face {
    font-family: 'coolvetica_condensed';
    src: url('/font/coolvetica_condensed.otf') format('truetype');
}

@font-face {
    font-family: 'coolvetica_regular';
    src: url('/font/coolvetica_regular.otf') format('truetype');
}

@font-face {
    font-family: 'redring';
    src: url('/font/RedRing_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'disclaimer';
    src: url('/font/Disclaimer_Classic.otf') format('truetype');
}

p, li {
    line-height: 1.2 !important;
    font-family: 'redring', sans-serif !important;
}

text {
    font-family: 'coolvetica_regular', sans-serif !important;
}

span {
    font-family: 'coolvetica_condensed', sans-serif !important;
}

h4, h5 {
    font-family: 'coolvetica_condensed', sans-serif !important;
}

h3 {
    font-family: 'coolvetica_regular', sans-serif !important;
}

a, button {
    font-family: 'coolvetica_condensed', sans-serif !important;
}

input, textarea, select {
    font-family: 'redring', sans-serif !important;
}

table, tr, td {
    font-family: 'redring', sans-serif !important;
}

thead {
    td {
        font-family: 'coolvetica_condensed', sans-serif !important;
    }
}

.font-disclaimer {
    font-family: 'disclaimer', sans-serif !important;
}