/* UI KIT */
$color-primary  : #FFC02A;
$color-primary-dark  : #e0a316;

$color-secondary  : #26283F;
$color-tertiary  : #0A0F9F;

$gray  : #A5A5A5;
$black : #26283F;
$white  : #fff;
$color-red  : #FE0000;


/* STATES */
$success : #33e4b2;
$danger  : #f5dadc;