@use '../../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    font-size: 20px;
    margin-bottom: 5px !important;
    color: $color-secondary;
    small {
        font-size: 14px;
    }
}