.container {
    margin-top: 20px;
    @media (max-width: 768px) {
        margin-top: 10px;
    }
    p {
        font-size: 17px;
        margin-bottom: 10px !important;
        font-weight: 600;
        small {
            text-decoration: line-through;
            font-size: 15px;
            color: #cccccc;
        }
    }
    &Actions {
        display: flex;
    }
}

.iconRotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}
