.button {
    &Simple {
        width: 100%;
        font-size: 18px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        background: none;
    }
}