.container {
    width: 22%;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px){
      width: 100%;
      margin-bottom: 20px;
    }
    > div {
        background: linear-gradient(
      90deg,
      #eeeeee 25%,
      #dedede 50%,
      #eeeeee 75%
    );
    background-size: 200% 100%;
    animation: loading 2s infinite ease-in-out;
    border-radius: 8px;
    }
   &Image{
    height: 210px;
    display: block;
    margin-bottom: 20px;

   }
   &Name {
    height: 30px;
    display: block;
    margin-bottom: 10px;

   }
   &Description {
    height: 30px;
    display: block;
    margin-bottom: 10px;
   }
   &Price {
    width: 30%;
    height: 30px;
    display: block;
   }
}

@keyframes loading {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  