@use '../../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    height: auto;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    &Modal {
        width: 460px;
        height: fit-content;
        border-radius: 15px;
        background-color: #fff;
        margin: auto;
        z-index: 99;
        @media (max-width: 768px){
            width: 90%;
            height: fit-content;
            border-radius: 15px;
        }
    }
    &Close {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #00000099;
    }
}

.modalHeader {
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $color-secondary;
    h3 {
        font-size: 22px;
        color: $color-secondary;
    }
    svg {
        cursor: pointer;
    }
}
.modalBody {
    height: fit-content;
    overflow: auto;
    padding: 15px;
    padding-top: 30px;
    h3 {
        font-size: 20px;
        text-align: center;
        margin-top: 0 !important;
        margin-bottom: 10px !important;
        @media (max-width: 768px){
            padding: 0 10px !important;
        }
    }
    p {
        font-size: 15px;
        text-align: center;
    }
    @media (max-width: 768px) {
        height: fit-content;
    }
}

.modalFooter {
    padding: 30px;
    padding-top: 10px;
    > div {
        display: flex;
        justify-content: space-evenly;
        button {
            width: 30%;
            font-size: 20px;
            padding: 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0;
            border-radius: 60px;
            transition: .5s ease all;
            text-decoration: none;
            @media (max-width: 768px){
                width: 45%;
            }
            svg {
                margin-left: 10px;
                transition: .5s ease all;
            }
            &:hover {
                scale: 1.1;
                svg {
                    margin-left: 15px;
                }
            }
            &:first-child {
                color: #fff;
                background-color: $color-primary;
                box-shadow: 0px 9px 20px 10px rgba(255, 154, 40, 0.2);
            }
            &:last-child {
                background-color: transparent;
                text-decoration: underline;
            }
        }
    }
}