@use '../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    position: fixed;
    left: 30px;
    bottom: 30px;
    padding: 10px 15px;
    padding-left: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    z-index: 9999999;
    @media (max-width: 768px){
        width: 90%;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 20px;
    }
    p {
        font-size: 14px;
        font-weight: bold;
    }
    svg {
        font-size: 20px;
        margin-left: 20px;
    }
    &Success {
        background-color: $success;
        p {
            color: #008b64;
        }
        svg {
            color: #008b64;
        }
    }
    &Error {
        background-color: $danger;
        p {
            color: #b45158;
        }
        svg {
            color: #b45158;
        }
    }
}