@use '../../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    position: relative;
    &Image {
        width: 100%;
        height: 220px;
        background-position: center;
        background-size: contain;
        border-radius: 15px;
        background-repeat: no-repeat;
        @media (max-width: 768px) {
            width: 95px;
            height: 90px;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &Type {
        position: absolute;
        left: 0;
        top: 0;
        img {
            width: 30px;
        }
    }
    &Topping {
        margin-top: -10px;
        h3 {
            text-align: center;
            font-size: 14px;
            color: $color-primary;
        }
        p {
            font-size: 13px;
            &:first-child {
                margin-top: 10px !important;
            }
            strong {
                font-size: 14px;
            }
        }
    }
}