@use '../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    &Header {
        width: 85%;
        margin: auto;
        padding: 20px 0;
        padding-bottom: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 99;
        @media (max-width: 768px) {
            background-color: #fff;
            flex-direction: row;
            align-items: center;
        }
        img {
            width: 50px;
            @media (max-width: 768px) {
                margin-bottom: 10px;
            }
        }
        ul {
            display: flex;
            align-items: center;
            list-style: none;
            @media (max-width: 768px) {
                width: fit-content;
                justify-content: space-evenly;
            }
            li {
                margin-left: 40px;
                margin-left: 15px;
                background: white;
                padding: 6px 12px;
                border-radius: 7px;
                @media (max-width: 768px) {
                    margin-left: 5px;
                }
                a {
                    text-transform: uppercase;
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                    p {
                        color: '#26283F';
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.active {
    p {
        color: $color-primary;
    }
}

.minicart {
    position: relative;
    cursor: pointer;
    svg {
        width: 20px;
        height: 20px;
    }
    span {
        position: absolute;
        right: -20px;
        bottom: -8px;
        font-size: 14px;
        background: $color-red;
        color: #fff;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
    }
}