@use '../../../../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.container {
    font-size: 14px;
    color: $color-secondary;
    margin-bottom: 20px !important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}