@use '../../../assets/sass/01-abstracts/_abstracts-dir' as *;

.button {
    &Primary {
        width: 100%;
        font-size: 18px;
        padding: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0;
        border-radius: 60px;
        color: #fff;
        background-color: $color-primary;
        box-shadow: 0px 0px 20px 5px rgba(255, 154, 40, 0.2);
        text-decoration: none;
        &:disabled {
            color: $color-secondary;
            background-color: rgba(0, 0, 0, 0.05);
            box-shadow: none;
            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
        &:hover {
            background-color: $color-primary-dark;
        }
        @media (max-width: 768px) {
            padding: 12px 0 !important;
        }
        svg {
            margin-left: 5px;
        }
    }
}