@use '../01-abstracts/variable' as *;
@use '../01-abstracts/mixins' as *;

.slick{
    &-vertical {
        .slick{
            &-prev {
                top: -15px;
                left: 0;
                right: 0;
                margin: auto;
                color: #000;
                &:hover {
                    background-color: #f4f4f6;
                    border-radius: 20px;
                    padding: 2px;
                }
            }
            &-next {
                top: 100%;
                left: 0;
                right: 0;
                margin: auto;
                color: #000;
                &:hover {
                    background-color: #f4f4f6;
                    border-radius: 20px;
                    padding: 2px;
                }
            }
        }
    }
    &-slider {
        .slick{
            &-prev {
                @media (max-width: 768px) {
                    color: #000;
                    transform: rotate(-90deg);
                    left: -20px;
                    &:hover {
                        background-color: #f4f4f6;
                        border-radius: 20px;
                    }
                }
            }
            &-next {
                @media (max-width: 768px) {
                    color: #000;
                    transform: rotate(-90deg);
                    right: -20px;
                    &:hover {
                        background-color: #f4f4f6;
                        border-radius: 20px;
                    }
                }
                
            }
            &-disabled {
                opacity: .3;
            }
        }
    }
}

.sliderHorizontal {
    .slick {
        &-prev {
            color: #000 !important;
            transform: none !important;
            left: -10px;
        }
        &-next {
            color: #000 !important;
            transform: none !important;
            right: -10px;
        }
    }
}

.MuiPaper-root {
    background-color: transparent !important;
    box-shadow: none !important;
    th {
        border: none !important;
        font-weight: 600;
        font-size: 14px;
    }
}