@use '../01-abstracts/variable' as *;

button.swal2-close {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}
.swal2-container.swal2-backdrop-show {
    background: rgb(0 0 0 / 91%) !important;
}
.pop-info{
    .swal2-icon.swal2-warning.swal2-icon-show{
        width: 3rem;
        height: 3rem;
        border: 0.2em solid transparent;
        border-color: $color-primary;
        color: $color-primary;
        .swal2-icon-content{
            font-size: 2.75em;
        }
    }
    .swal2-actions{
        .swal2-confirm{
            background: $color-primary;
            font-size: 18px;
            border: none;
            border-radius: 0;
        }
    }
    &__description{
        font-size: 14px;
        color: $color-secondary;
        text-align: left;
    }
}

.pop-login{
    background: #ffffff21 !important;
    border-radius: 20px;
    padding-bottom: 0 !important;
    .container-auth{
        height: auto;
        background: none !important;
        padding: 0;
        .form{
            position: unset !important;
            background: none !important;
            .css-13xfq8m-MuiTabPanel-root{
                padding: 24px 0 0 0;
            }
        }
    }

    .swal2-actions{
        display: flex;
        width: 100%;
        border-top: 1px solid rgba(255, 255, 255, 0.11);
        .swal2-confirm{
            background: transparent;
            font-size: 14px;
            padding: 0;
            outline: none;
            text-shadow: none;
            box-shadow: none !important;
            margin: 15px 0;
        }
    }

}

.form{
    position: relative;
    &-logo{
        position: absolute;
        top: -85px;
        left: 0;
        right: 0;
        text-align: center;
        img{
            width: 200px;
        }
    }
    &-login{
        &__fields{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            .form-group{
                display: flex;
                flex-direction: column;
                margin-bottom: 15px;
                @media (max-width: 768px){
                    width: 100% !important;
                }
                input{
                    border: $white;
                    padding: 10px 15px;
                    font-size: 15px;
                    border-radius: 10px;
                }
                .error{
                    text-align: left;
                    color: #ffffff4d;
                    font-size: 14px;
                    margin-top: 5px !important;
                    span{
                        color: $color-primary;
                    }
                }
            }
            .MuiButtonBase-root{
                background-color: $color-primary !important;
            }
            button{
                background: $color-primary;
                border: none;
                width: 100%;
                padding: 5px 0px;
                border-radius: 10px;
                color: $white;
                margin-bottom: 20px;
                font-size: 16px;
                font-weight: 600;
                &:hover{
                    filter: brightness(0.8) !important;
                }
            }
        }
    }
    &-another{
        p{
            color: $white;
            font-size: 14px;
            button{
                background: transparent;
                border: none;
                color: $color-primary;
                font-weight: bold;
                text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.pop-zoom{
    width: 100%;
    height: auto;
    display: flex !important;
    justify-content: center;
    padding: 0 !important;
    .swal2-close{
        position: absolute;
        right: 0;
        top: 0;
        color: #CC0000;
        opacity: 1;
    }
    .swal2-html-container{
        width: 100%;
        margin: 0;
        img{
            height: 100%;
            width: 100%;
        }
    }
}